extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        //- Name
        h1 Jacob T. Murphy

        //- Title
        p.lead.text-light
          | Full Stack JavaScript / Web Developer.

        //- Pitch
        .portfolio-bio
          p
            | I am a passionate and curious Web Developer, with a speciallity in JavaScript.
            | I love working on unique and intersting projects for a number of use cases, too!
          p
            |I am currently looking for employment. So if you like what you see here, get in touch!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Skills
        ul
          li HTML &amp; CSS Fundamentals.
          li Basic Layout &amp; Responsive Design. 
          li Static / Client-Side JavaScript.
          li AJAX, Fetch, &amp; API Calls.
          li Node &amp; npm.
          li Express &amp; Dynamic Templating.
        h6 Contact Info

        //- Contact
        ul
          li jacobtrevmurphy@gmail.com
          
        a.button.expanded(href='https://github.com/jacobtmurph/') GitHub
        a.button.expanded(href='https://twitter.com/jacobteemurph/') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  